<nav class="navbarTop">
	<div class="navleft">
		<div class="burgerIcon"><i class="bi bi-list"></i></div>
		<div class="logo"><img src="/img/logo1.png" alt="" class="logoYouTube" /></div>
	</div>
	<div class="navCenter">
		<div class="searchContainer">
			<input placeholder="Search" type="text" class="searchInput" />
			<div class="searchIcon"><i class="bi bi-search"></i></div>
		</div>
		<div class="voiceIcon"><i class="bi bi-mic"></i></div>
	</div>
	<div class="navEnd">
		<div class="streamIcon"><i class="bi bi-camera-reels"></i></div>
		<div class="notificationIcon"><i class="bi bi-bell"></i></div>
		<div class="avatarUser">
			<img src="/img/1.png" alt="avatarImg" class="avatarImg" />
		</div>
	</div>

</nav>