<div class="sidebar">
	<ul class="sidebarWrapper">
		<a href="" class="sidebarLink">
			<li class="sidebarItem active">
				<div class="sidebarIcon"><i class="bi bi-house"></i></div>
				<div class="sidebarText">Home</div>
			</li>
		</a>
		<a href="" class="sidebarLink">
			<li class="sidebarItem">
				<div class="sidebarIcon"><i class="bi bi-cup-straw"></i></div>
				<div class="sidebarText">Trending</div>
			</li>
		</a>
		<hr class="sidebarSidebarHr" />
		<h4 class="sidebarTitle">
			<i class="bi bi-person-fill"></i>
			Subscriptions
		</h4>
		{{#each users}}
			<a href="/channel/{{username}}" class="sidebarLink">
				<li class="sidebarItem">
					<div class="sidebarIcon">
						<img
							src="/avatars/{{avatar}}"
							alt="avatarImg"
							class="sidebarAvatarImg"
						/>
					</div>
					<div class="sidebarText">{{username}}</div>
				</li>
			</a>
		{{/each}}
	</ul>
</div>