<div class="containerAllCards">
	<div class="cards">
		<div class="card">
			<div class="topCard">
				<img src="/img/8.png" alt="cardImage" class="cardImage" />
				<span class="cardLengthVideo">3:09:37</span>
			</div>
			<div class="bottomCard">
				<div class="bottomCardLeft">
					<img src="/img/7.png" alt="cardAvatar" class="cardAvatar" />
				</div>
				<div class="bottomCardRight">
					<div class="bottomCardTitle">
						Habby Lame new video
					</div>
					<div class="cardDescription">
						Franks Laborotory
					</div>
					<div class="cardBottomDown">
						<span class="cardViews">209 views</span>
						<span class="cardDate">💿 27 minutes ago</span>
					</div>
				</div>
			</div>

		</div>
		<div class="card">
			<div class="topCard">
				<img src="/img/8.png" alt="cardImage" class="cardImage" />
				<span class="cardLengthVideo">3:09:37</span>
			</div>
			<div class="bottomCard">
				<div class="bottomCardLeft">
					<img src="/img/7.png" alt="cardAvatar" class="cardAvatar" />
				</div>
				<div class="bottomCardRight">
					<div class="bottomCardTitle">
						Habby Lame new video
					</div>
					<div class="cardDescription">
						Franks Laborotory
					</div>
					<div class="cardBottomDown">
						<span class="cardViews">209 views</span>
						<span class="cardDate">💿 27 minutes ago</span>
					</div>
				</div>
			</div>

		</div>
		<div class="card">
			<div class="topCard">
				<img src="/img/8.png" alt="cardImage" class="cardImage" />
				<span class="cardLengthVideo">3:09:37</span>
			</div>
			<div class="bottomCard">
				<div class="bottomCardLeft">
					<img src="/img/7.png" alt="cardAvatar" class="cardAvatar" />
				</div>
				<div class="bottomCardRight">
					<div class="bottomCardTitle">
						Habby Lame new video
					</div>
					<div class="cardDescription">
						Franks Laborotory
					</div>
					<div class="cardBottomDown">
						<span class="cardViews">209 views</span>
						<span class="cardDate">💿 27 minutes ago</span>
					</div>
				</div>
			</div>

		</div>
		<div class="card">
			<div class="topCard">
				<img src="/img/8.png" alt="cardImage" class="cardImage" />
				<span class="cardLengthVideo">3:09:37</span>
			</div>
			<div class="bottomCard">
				<div class="bottomCardLeft">
					<img src="/img/7.png" alt="cardAvatar" class="cardAvatar" />
				</div>
				<div class="bottomCardRight">
					<div class="bottomCardTitle">
						Habby Lame new video
					</div>
					<div class="cardDescription">
						Franks Laborotory
					</div>
					<div class="cardBottomDown">
						<span class="cardViews">209 views</span>
						<span class="cardDate">💿 27 minutes ago</span>
					</div>
				</div>
			</div>

		</div>
		<div class="card">
			<div class="topCard">
				<img src="/img/8.png" alt="cardImage" class="cardImage" />
				<span class="cardLengthVideo">3:09:37</span>
			</div>
			<div class="bottomCard">
				<div class="bottomCardLeft">
					<img src="/img/7.png" alt="cardAvatar" class="cardAvatar" />
				</div>
				<div class="bottomCardRight">
					<div class="bottomCardTitle">
						Habby Lame new video
					</div>
					<div class="cardDescription">
						Franks Laborotory
					</div>
					<div class="cardBottomDown">
						<span class="cardViews">209 views</span>
						<span class="cardDate">💿 27 minutes ago</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>