<div class="w-100 h-100" style="background: #111;">
	<form
		action="/register"
		method="POST"
		class="position-absolute top-50 start-50 translate-middle w-75 p-3 w-50 rounded-4 h-75 d-flex justify-content-center border border-info"
		style="background:rgba(0, 255, 255, 0.2);align-items:center"
		enctype="multipart/form-data"
	>
		<div class="formLogo w-50 text-start p-2">
			<img
				src="/img/formLogo.png"
				alt="logoImage"
				class="formLogo"
				style="width:auto;height:300px;"
			/>
		</div>
		<div class="formRight w-75 h-100">
			<h3 class="text-center text-white fw-bold display-4 m-3">Register</h3>
      
			{{#if error}}
				<div
					class="alert alert-danger alert-dismissible fade show"
					role="alert"
				>
					<strong>Error!</strong>
					{{error}}.
				</div>
			{{/if}}
			<div class="form-floating mb-3">
				<input
					type="text"
					class="form-control"
					id="floatingInput"
					placeholder="name@example.com"
					name="username"
				/>
				<label for="floatingInput">Username</label>
			</div>
			<div class="form-floating mb-3">
				<input
					type="password"
					class="form-control"
					id="floatingPassword"
					placeholder="Password"
					name="password"
				/>
				<label for="floatingPassword">Password</label>
			</div>
			<div class="input-group mb-3">
				<input
					type="file"
					class="form-control"
					id="inputGroupFile04"
					aria-describedby="inputGroupFileAddon04"
					aria-label="Upload"
					name="file"
				/>
			</div>
			<div class="w-100 text-center d-flex gap-3">
				<button type="submit" class="w-50 btn btn-info">Register</button>
				<a href="/login" class="w-50 btn btn-primary">Login</a>
			</div>
		</div>
	</form>
</div>