:root {
  --mainColor: #111;
  --borderColor: #444;
  --otherbgColor: #222;
  --borderAqua: rgba(0, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: aqua;
  border-radius: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', Arial, sans-serif;
}

body {
  background: var(--mainColor);
}

.bottom {
  height: calc(100vh - 75px);
  margin-top: 75px;
}

.navbarTop {
  user-select: none;
  position: fixed;
  height: 60px;
  top: 0;
  width: 99%;
  margin: 7px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid var(--borderAqua);
  border-radius: 20px;
}

.navleft, .navCenter, .navEnd, .searchContainer {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.navEnd {
  justify-content: space-between;
}

.burgerIcon {
  cursor: pointer;
  font-size: 25px;
}

.logo {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoYouTube {
  color: red;
  width: 200px;
  height: 100px;
  margin-right: 5px;
}

.searchInput {
  width: 550px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  padding: 5px 15px;
  font-size: 17px;
  border: 1px solid var(--borderAqua);
  background: var(--mainColor);
  color: #fff;
}

.searchInput:focus {
  outline: 1px solid aqua;
  margin-right: 1px;
}


.searchIcon {
  background: var(--otherbgColor);
  border: 1px solid var(--borderAqua);
  box-sizing: border-box;
  height: 40px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  border-left: none;
}

.voiceIcon {
  height: 40px;
  width: 40px;
  background: var(--otherbgColor);
  margin-left: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 20px;
}

.streamIcon, .notificationIcon {
  margin-right: 20px;
}

.avatarImg {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  object-fit: cover;
}

.sidebar {
  position: fixed;
  height: calc(100vh - 90px);
  width: 250px;
  margin: 5px;
  border: 1px solid var(--borderAqua);
  border-radius: 25px;
  overflow-y: auto;
}

.sidebarWrapper {
  padding: 15px;
  list-style: none;
  color: #fff;
}

.sidebarItem {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 15px;
  display: flex;
  border-radius: 10px;
  background: rgba(0, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
}

.sidebarItem:hover {
  transform: scale(1.1);
  background: rgba(0, 255, 255, 0.1);
}

.sidebarIcon {
  margin-right: 15px;
  font-size: 20px;
}

.sidebarItem.active {
  font-weight: bold;
}

.sidebarLink {
  text-decoration: none;
  color: #fff;
}

.sidebarTitle {
  font-size: 17px;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  font-size: 'roboto'sans-serif;
  font-weight: 100;
}

.sidebarSidebarHr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid aqua;
  border-radius: 50px;
}

.sidebarAvatarImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.main {
  position: fixed;
  height: calc(100vh - 90px);
  width: calc(100% - 280px);
  margin: 5px;
  margin-left: 270px;
  border-radius: 25px 0 0 25px;
  border-right: none;
  overflow-y: auto;
}

.containerAllCards {
  padding: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: 32%;
  height: 300px;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  background: #333;
  text-decoration: none;
  transition: 0.5s;
  border: 1px solid aqua;
}

.adminCard:hover {
  transform: scale(1.05);
}

.bottomCard {
  padding: 5px;
  width: 200px;
}

.topCard {
  position: relative;
}

.cardLengthVideo {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}

.bottomCard {
  height: 50px;
  width: 100%;
  display: flex;
}

.bottomCardLeft {
  width: 20%;

  text-align: center;
  padding-top: 15px;
}

.bottomCardRight {
  width: 80%;
  height: 100%;
  padding: 10px;
}

.cardAvatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
}

.bottomCardTitle {
  width: 100%;
  font-weight: bold;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  border: none;
  outline: none;
  height: 30px;
  padding: 5px 3px;
  border-radius: 10px;
}

.cardDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.cardBottomDown {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  gap: 5px;
}

.cardDate {
  list-style: disc;
  display: flex;
}

.formLogo {
  width: 400px;
  height: 300px;
}

.adminContainer {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
}

.adminContainer::-webkit-scrollbar {
  width: 0px;
}

.adminContainer::-webkit-scrollbar-track {
  border-radius: 50px;
}

.adminLeft {
  text-align: center;
  width: 30%;
  height: 675px;
  display: flex;
  vertical-align: middle;
  line-height: 100px;
  position: fixed;
}

.adminRight {
  margin-left: 40%;
  width: 70%;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adminCard {
  position: relative;
  margin-bottom: 10px;
  height: 300px;
  width: 49%;
  text-decoration: none;
  color: #fff;
  background: #333;
  border-radius: 20px;
  transition: 0.5s;
  border: 1px solid aqua;
}

.adminCard:hover {
  transform: scale(1.01);
}

.adminDeleteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.adminDeleteBtn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.admin-title {
  font-size: 30px;
  margin: 20px;
  color: aqua;
}

.admin-input-group {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}

.adminInput {
  width: 70%;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  height: 50px;
  font-size: 17px;
  outline: var(--borderAqua);
}

.adminForm {
  border: 1px solid aqua;
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

.admin-file {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: white;
  color: #777;
  text-align: start;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  vertical-align: middle;
  line-height: 40px;
}

.admin-button {
  border: none;
  margin-top: 5px;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  font-size: 17px;
  background: aqua;
  cursor: pointer;
  transition: 1s;
}

.admin-button:hover {
  background: rgb(0, 175, 175);
}

.drop-container {
  width: 70%;
  margin: 15px auto;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #fff;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
  color: #000;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  position: absolute;
  max-width: 100%;
  width: 90%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

video {
  width: 100%;
  height: 200px;
  border: 1px groove aqua;
  border-radius: 20px;
}

[controls] {
  background: black;
  color: red;
}

::controls, ::-controls, ::-webkit-controls {
  background: black;
  color: red;
}

.watch-container {
  position: relative;
  margin: 2px;
  height: 100vh;
}

.watch-video-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.watch-video {
  width: 100%;
  height: 100%;
}

.watch-bottom {
  margin-top: 30px;
  display: flex;
  width: 100%;
  color: #ccc;
  height: 100vh;
  gap: 20px;
}

.watch-comments {
  width: 55%;
}

.watch-title {
  font-size: 30px;
  text-align: center;
  padding: 25px;
  color: #ccc;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commentAvatar {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50px;
  object-fit: cover;
  margin-top: 25px;
}

.commentLeft {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px 20px 15px 10px;
  border-radius: 20px 10px 10px 5px;
}

.commentName {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'roboto'
}

.commentDesc {
  font-size: 15px;
}

.watch-video-title {
  color: white;
  font-size: 25px;
}

.watch-video-description {
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  width: 99%;
  padding: 20px;
  border-radius: 20px;
}

.watch-video-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 20px;
}

.watch-video-channel {
  font-size: 15px;
  color: #999;
}

.watch-react-desc {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}

.watch-reaction {
  cursor: pointer;
  font-size: 15px;
  background: rgba(0, 255, 13, 0.3);
  border: 1px solid rgb(0, 255, 0);
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  transition: 0.3s;
  outline: none;
}

.watch-reaction:hover {
  background: rgb(0, 80, 0);
}

.sendComment {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sendComment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.sendingArea {
  width: 100%;
  display: flex;
  gap: 5px;
}

.sendInput {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 5px 15px;
  font-size: 17px;
  color: white;
}

.send-button {
  border-radius: 10px;
  border: none;
  width: 70px;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.watch-ad {
  display: block;
}

.watch-ad-left {
  text-align: center;
}


.watch-add-avatar {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  display: block;
  border-radius: 50px;
}

.watch-ad-title {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 20px;
}

.watch-ad-left {
  display: block;
  width: 50%;
}

.ad {
  width: 100%;
  margin: 25px auto;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.watch-ad-right {
  display: inline-block;
  align-self: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.ad video {
  height: 200px;
  width: 300px;
}

.cardDescription-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.downloadIcon {
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  padding: 3px 10px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}

.downloadIcon:hover {
  background: #fff;
}